<form action="{{ url_for('admin_new_jam') }}" method="POST">
    <h5>Iniciar un nuevo JAM</h5>
    <p>Publica un nuevo jam, todos los usuarios registrados se pueden unir.</p>
    <hr>
    <div class="form-group">
        <label for="jam-title">Titulo de la JAM</label>
        <input type="text" name="jam-title" id="jam-title" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="jam-description">Descripcion de la JAM</label>
        <textarea name="jam-description" id="jam-description" rows="5" class="form-control" style="resize: none;" required></textarea>
    </div>
    <div class="form-group">
        <label for="jam-cover-image">Imagen de portada</label>
        <input type="file" name="jam-cover-image" id="jam-cover-image" class="form-control-file" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">¡Publicar!</button>
    </div>
</form>