<form action="{{ url_for('login_form') }}" method="POST">
    <h5>Iniciar sesion</h5>
    <hr>
    <div class="form-group">
        <label for="user-name">Nombre de usuario o correo</label>
        <input type="text" name="user-name" id="user-name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="user-password">Contraseña</label>
        <input type="password" name="user-password" id="user-password" class="form-control" required>
    </div>
    <hr>
    <div class="form-group">
        <button class="btn btn-primary">Iniciar sesion</button>
    </div>
</form>