{% extends 'base.html' %}

{% block headers %}
    <title>UES GameJAM</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'components/navbar.html' %}
            </div>
            <div class="col-md-8">
                {% include 'admin/new-jam-form.html' %}
                <hr>
                <h5>JAM's activas</h5>
                <div class="card-group">
                    {% for jam in jams %}
                        <div class="card text-white bg-dark">
                            <img
                                src="{{ url_for('static', filename='img/jam_covers/' + jam.cover) }}"
                                class="card-img-top"
                                alt="JAM Image cover">
                            <div class="card-body">
                                <h5 class="card-title">{{ jam.titulo }}</h5>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('jam', id=jam.id) }}" class="btn btn-secondary">
                                    Ver
                                </a>
                                {% if jam.opened==1 %}
                                    <a href="{{ url_for('jam_toggle_open', id=jam.id) }}" class="btn btn-warning">
                                        Cerrar
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('jam_toggle_open', id=jam.id) }}" class="btn btn-warning">
                                        Abrir
                                    </a>
                                {% endif %}
                                {% if jam.visible == 1 %}
                                    <a href="{{ url_for('jam_toggle_visibility', id=jam.id) }}" class="btn btn-danger">
                                        Ocultar
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('jam_toggle_visibility', id=jam.id) }}" class="btn btn-danger">
                                        Mostrar
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}