{% extends 'base.html' %}

{% block headers %}
    <title>UES GameJAM</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'components/navbar.html' %}
            </div>
            <div class="col-md-8">
                <h5>¡Checa las JAMs abiertas!</h5>
                <div class="card-group">
                    {% for jam in jams %}
                        {% include 'jam/resume-card.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}