{% extends 'base.html' %}

{% block headers %}
    <title>UES GameJAM</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'components/navbar.html' %}
            </div>
            <div class="col-md-8">
                <h5>¡Checa las JAMs abiertas!</h5>
                <div class="card-group">
                    {% for jam in jams %}
                        <div class="card text-white bg-dark">
                            <img
                                src="{{ url_for('static', filename='img/jam_covers/' + jam.cover) }}"
                                class="card-img-top"
                                alt="JAM Image cover">
                            <div class="card-body">
                                <h5 class="card-title">{{ jam.titulo }}</h5>
                                <p class="card-text">
                                    {{ jam.descripcion }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('jam', id=jam.id) }}" class="btn btn-primary">
                                    ¡Saber más!
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}