<div id="footer">
    <div class="card text-white bg-dark">
        <img
            src="{{ url_for('static', filename='img/default-jam-cover.webp') }}"
            class="card-img-top"
            alt="JAM Image cover">
        <div class="card-body">
            <h5 class="card-title">¡Únete a esta JAM!</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Autem a sit fuga nemo officiis culpa, dolore aliquid tenetur!
            </p>
            <a href="#" class="btn btn-primary">
                ¡Unirse!
            </a>
        </div>
    </div>
    <hr>
    &copy; 2022 UES San Jose del Rincon.
</div>