<div id="navbar">
    <img
        class="umb-icon"
        src="{{ url_for('static', filename='img/umb-white.png') }}"
        alt="UMB JAM Logo"><br>
    {% if user and user.admin == 1 %}
        <a class="btn btn-danger mt-3" href="{{ url_for('admin') }}">
            <i class="bi bi-terminal-fill"></i>
            Admin
        </a><br>
    {% endif %}
    <a class="btn btn-secondary mt-3" href="{{ url_for('home') }}">
        <i class="bi bi-house"></i>
        Inicio
    </a><br>
    <a class="btn btn-secondary mt-3" href="{{ url_for('jams') }}">
        <i class="bi bi-trophy"></i>
        JAM's
    </a><br>
    <a class="btn btn-secondary mt-3" href="#">
        <i class="bi bi-controller"></i>
        Juegos
    </a><br>
    {% if user %}
        <a class="btn btn-secondary mt-3" href="#">
            <i class="bi bi-person"></i>
            Perfil
        </a><br>
        <a class="btn btn-primary mt-3" href="#">
            Dashboard
        </a>
    {% endif %}
    <hr>
    {% if user==None %}
        <p>
            Participa <a href="{{ url_for('signup') }}">creando una cuenta</a>
            o <a href="{{ url_for('login') }}">iniciando sesion</a>.
        </p>
    {% else %}
        {% include 'components/user-mini-panel.html' %}
    {% endif %}
</div>