<div id="footer">
    {% if latest_jam != None %}
        <small>¡Checa la JAM más reciente! <i class="bi bi-megaphone-fill"></i></small>
        <div class="card text-white bg-dark">
            <img
                src="{{ url_for('static', filename='img/jam_covers/' + latest_jam.cover) }}"
                class="card-img-top"
                alt="JAM Image cover">
            <div class="card-body">
                <h5 class="card-title">{{ latest_jam.titulo }}</h5>
                <p class="card-text">
                    {{ latest_jam.descripcion }}
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">
                    ¡Unirse!
                </a>
            </div>
        </div>
    {% endif %}
    <hr>
    <a href="{{ url_for('home') }}">UES GameJAM</a><br>
    &copy; 2022 UES San Jose del Rincon.
</div>